body {
  font-family: Arial, Helvetica, sans-serif;
}

.tag-card-font {
  font-size: 0.7rem;
  color: grey;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-purple {
  background-color: #8338ec;
  color: white;
}
.btn-purple:hover {
  background-color: #6917b0;
  color: white;
}

/* NAVBAR */

.nav-item.selected {
  border-bottom: 2px solid #6917b0;
}

.nav-item {
  border-bottom: 2px solid transparent;
}

.tag-card-font {
  font-size: 0.7rem;
  color: grey;
}

/* card shadow */
.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* COLLAGE IMAGES SHOW */

.collage-images img {
  max-width: 100%;
}

#heart {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 20px;
}

#heart > span {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

.form-control-lg {
  font-size: 1.5rem !important;
  padding: 1rem;
}
.btn-counter {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px 10px;
  background-color: transparent;
}

.btn-counter:disabled {
  border: 1px solid #b7b7b7;
}

.filter-radio {
  border-radius: 10px !important;
  border: 2px solid transparent;
  font-size: 1.1rem;
}

.btn-check:checked + .filter-radio {
  border: 2px solid rgba(0, 0, 0, 0.644);
  background-color: rgba(128, 128, 128, 0.11);
}

.btn-group {
  border-radius: 10px !important;
}

input[type="range"]::-webkit-slider-thumb {
  background: black;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

input[type="range"]::-webkit-slider-thumb:active {
  background: black;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

input[type="range"]::-webkit-slider-thumb:focus {
  background: black;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.btn-submit-filter {
  border: 1px solid black !important;
}

.btn-submit-filter:hover,
.btn-submit-filter:hover:active {
  background-color: rgba(128, 128, 128, 0.11);
}

/* img user reviews */
#userImg {
  width: 50px;
  border-radius: 50%;
}

/* punto tra stelle e soggiorno */
.fa-circle {
  font-size: 0.2rem;
  padding: 0 2px;
}

.fa-star {
  color: rgb(219, 187, 2);
}

/* separation line */
.line {
  width: 100%;
  max-width: 800px;
  margin: 20px 0 20px;
}

/* form box input */
.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
}

/* host info */
.host {
  margin: 20px 0;
}
.host img {
  width: 80px;
  border-radius: 50%;
  margin-right: 30px;
}
.host h2 {
  margin-top: 10px;
}

.carouselExampleAutoplaying {
  position: relative;
}

.carousel-inner {
  height: 85vh;
}

.carousel-item {
  height: 100%;
}

.carousel-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage-floating-title {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-title {
  font-size: max(calc(1.9vw * 2), 2rem) !important;
  text-align: center;
  text-shadow: 8px 5px 18px black;
  color: white;
  font-family: "Anton", sans-serif;
}

.image-container {
  height: 240px;
}

.image-container img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* dettagli pagina ricerca avanzata */

.research-placeholder {
  margin-top: 200px !important;
  width: 450px;
  margin-right: 150px;
}

.address-span {
  font-size: 0.8rem;
}
